*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: #191931;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"Outfit",sans-serif;
    padding-top: 4rem;
    gap: 1rem;
}
.text-animation{
    position: absolute;
    font-size: 12rem;
    top: 6.5rem;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-text-stroke: 2px #2d2d56;
    -webkit-text-fill-color: transparent ;
    font-family: sans-serif;
    z-index: -1;
    user-select: none;
}
.foto {
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    width: 80%;
    max-width: 40rem;
}
ul li {
    list-style: none;
}
ul.links li:not(:last-child){
    margin-bottom: 1rem;
}
ul{
    margin-top: 1rem;
}
.sosmed i{
    font-size: 1.5rem;
    color: #8787a3;
}
.sosmed i:hover{
    color:white;
}
.sosmed a:not(:last-child) {
    margin-right: .5rem;
}
.link-list{
    display: flex;
    background-color: #2d2d56;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: 10px 10px 5px black;
    border:  2px solid #2d2d56;
}
.link-list:hover{
    border: 2px solid white;
}
.links .link-icon{
    background-image: linear-gradient(to top, purple, cyan);
    padding: 7px;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links .link-text{
    text-align: center;
}
.link-action {
    color: #8787a3;
    cursor: pointer;
    padding: 10px;
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;
  }
  
  .toast-container {
    background-color: white;
    color: #0f0f25;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    animation: muncul 300ms ease-in-out;
  }
  
  .toast-gone {
    animation: hilang .5s ease-in-out 1s;
  }
  
  @keyframes muncul {
    from {
      opacity: 0;
      transform: translateY(-4rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes hilang {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }